@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
:root {
  --primary-color: #d6225a;
  --secondary-color: #660c42;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}
.navbar-collapse {
  flex-direction: row-reverse !important;
}
.nav-link {
  font-size: 23px;
  margin-right: 10px;
  color: black !important;
}
.hero-content {
  background-image: url("../images/oumaima.png");
  height: 90vh;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
}
.hero-content h1 {
  padding-top: 4em;
  padding-left: 2em;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
}
.hero-content span {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 300;
}
.button-group {
  margin-left: 6em;
}
button {
  margin-right: 2em;
  border-radius: 5px;
  padding: 5px 15px;
  min-width: 64px;
  vertical-align: middle;
  justify-content: center;
  font-size: 20px;
  transition: all 0.3s;
}
.button-primary {
  background-color: var(--primary-color);
  border: 1px solid #d6225a;
  color: white;
}
.button-primary:hover {
  background-color: white;
  color: var(--primary-color);
  margin-top: -10px;
}
.button-primary-outlined {
  background-color: white;
  border: 1px solid #d6225a;
  color: var(--primary-color);
}
.button-primary-outlined:hover {
  background-color: var(--primary-color);
  border: 1px solid #d6225a;
  color: white;
  margin-top: -10px;
}
.button-secondary {
  background-color: var(--secondary-color);
  border: 1px solid #660c42;
  color: white;
}
.button-secondary:hover {
  background-color: white;
  color: var(--secondary-color);
  margin-top: -10px;
}
.social-links {
  margin-top: 3em;
  margin-left: 2em;
  font-size: 25px;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.social-links li {
  padding: 10px;
}
.social-links a {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  padding: 2px 10px 6px 10px;
}
.social-links a:hover {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.tabs {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  padding: 50px;
  padding-bottom: 80px;
  width: 90%;
  min-height: 250px;
  /*box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);*/
  border-radius: 5px;
  min-width: 240px;
  margin: 2em 0em;
}
.tabs input[name="tab-control"] {
  display: none;
}
.tabs .content section h2,
.tabs ul li label {
  font-weight: bold;
  font-size: 18px;
  color: var(--primary-color);
}
.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.tabs ul li {
  box-sizing: border-box;
  flex: 1;
  width: 25%;
  padding: 0 10px;
  text-align: center;
}
.tabs ul li label {
  transition: all 0.3s ease-in-out;
  color: var(--secondary-color);
  padding: 5px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  background-color: #fcf5e5;
  border: 1px solid #d6225a;
}
.tabs ul li label br {
  display: none;
}
.tabs ul li label svg {
  fill: var(--secondary-color);
  height: 1.2em;
  vertical-align: bottom;
  margin-right: 0.2em;
  transition: all 0.2s ease-in-out;
}
.tabs ul li label:hover,
.tabs ul li label:focus,
.tabs ul li label:active {
  outline: 0;
  color: var(--primary-color);
}
.tabs ul li label:hover svg,
.tabs ul li label:focus svg,
.tabs ul li label:active svg {
  fill: var(--primary-color);
}
.tabs .slider {
  position: relative;
  width: 25%;
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}

.tabs .content {
  margin-top: 30px;
  min-height: 500px;
}
.tabs .content section {
  display: none;
  animation-name: content;
  animation-direction: normal;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  line-height: 1.4;
}
.tabs .content section h2 {
  color: var(--primary-color);
  display: none;
}

.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ ul
  > li:nth-child(1)
  > label {
  cursor: default;
  color: var(--primary-color);
}
.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ ul
  > li:nth-child(1)
  > label
  svg {
  fill: var(--primary-color);
}

@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(1):checked
    ~ ul
    > li:nth-child(1)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
  transform: translateX(0%);
}
.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ .content
  > section:nth-child(1) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ ul
  > li:nth-child(2)
  > label {
  cursor: default;
  color: var(--primary-color);
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ ul
  > li:nth-child(2)
  > label
  svg {
  fill: var(--primary-color);
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(2):checked
    ~ ul
    > li:nth-child(2)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
  transform: translateX(100%);
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ .content
  > section:nth-child(2) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ ul
  > li:nth-child(3)
  > label {
  cursor: default;
  color: var(--primary-color);
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ ul
  > li:nth-child(3)
  > label
  svg {
  fill: var(--primary-color);
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(3):checked
    ~ ul
    > li:nth-child(3)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
  transform: translateX(200%);
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ .content
  > section:nth-child(3) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ ul
  > li:nth-child(4)
  > label {
  cursor: default;
  color: var(--primary-color);
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ ul
  > li:nth-child(4)
  > label
  svg {
  fill: var(--primary-color);
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(4):checked
    ~ ul
    > li:nth-child(4)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
  transform: translateX(300%);
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ .content
  > section:nth-child(4) {
  display: block;
}
@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@media (max-width: 1000px) {
  .tabs ul li label {
    white-space: initial;
  }
  .tabs ul li label br {
    display: initial;
  }
  .tabs ul li label svg {
    height: 1.5em;
  }
}
@media (max-width: 600px) {
  .tabs ul li label {
    padding: 5px;
    border-radius: 5px;
  }
  .tabs ul li label span {
    display: none;
  }
  .tabs .slider {
    display: none;
  }
  .tabs .content {
    margin-top: 20px;
  }
  .tabs .content section h2 {
    display: block;
  }
}
.who-iam p {
  font-size: 25px;
  font-weight: 500;
}
.who-iam p span {
  color: var(--primary-color);
  font-weight: 700;
}
.who-iam h3 {
  margin-left: 110px;
  color: var(--primary-color);
  margin-bottom: 50px;
  margin-top: 50px;
}
.who-iam h3::before {
  content: "";
  position: relative;
  display: block;
  background-color: var(--primary-color);
  border: 4px solid #d6225a;
  border-radius: 50px;
  width: 100px;
  top: 23px;
  left: -107px;
}
/*-------Work History--------*/
.work-history h3,
.certification h3 {
  margin-left: 110px;
  color: var(--primary-color);
  margin-bottom: 50px;
  margin-top: 50px;
}
.work-history h3::before,
.certification h3::before {
  content: "";
  position: relative;
  display: block;
  background-color: var(--primary-color);
  border: 4px solid #d6225a;
  border-radius: 50px;
  width: 100px;
  top: 23px;
  left: -170px;
}
.timeline {
  display: flex;
  flex-direction: row;
}
.timeline-content {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  height: 210px;
  background-color: #fff6fa;
  padding: 15px 15px;
  border-radius: 10px;
}
.timeline-content h4 {
  color: var(--secondary-color);
  font-weight: 500;
}
.timeline-content span {
  color: var(--primary-color);
  font-weight: 500;
  padding-bottom: 10px;
}
.timeline-content::after {
  display: block;
  position: fixed;
  content: "";
  height: 7px;
  width: 650px;
  min-width: 100px;
  background-color: var(--secondary-color);
  margin-top: 100px;
}
.timeline-container {
  padding: 10px 40px;
  background-color: inherit;
  width: 500px;
  position: relative;
}
.timeline-container::after {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: var(--primary-color);
  border-radius: 50%;
  z-index: 1;
  left: 216px;
  top: 286px;
}

.timeline-top::before {
  content: " ";
  height: 0;
  position: absolute;
  margin-top: 210px;
  width: 0;
  z-index: 1;
  right: 245px;
  border: medium solid var(--primary-color);
  border-width: 30px 30px 30px 30px;
  border-color: var(--primary-color) transparent transparent transparent;
}
/*-----Certifications----*/
.certification h4 {
  padding-top: 4em;
  color: var(--primary-color);
}
.certification span {
  font-weight: 500;
}

/**Services**/
.services {
  margin : 2em 0 6em 0;
}

.services h1,
.services h5 {
  text-align: center;
}
.services h1 {
  font-weight: 600;
  color: var(--secondary-color);
}
.services h5 {
	font-weight: 600;
	color: var(--primary-color);
	position: relative;
}
.services h5::before{
	content: "";
	display: block;
	width: 100px;
	height: 5px;
	background: var(--primary-color);
	border-radius: 50px;
	left: 37%;
	top: 50%;
	position: absolute;
}
.services h5::after{
	content: "";
	display: block;
	width: 100px;
	height: 5px;
	background: var(--primary-color);
	border-radius: 50px;
	right: 37%;
	top: 50%;
	position: absolute;
}
.service .block{
  margin-right: 1em;
}
.block .card{
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.34);
  border-radius: 15px;
  padding: 25px;
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 20px;
  margin-top: 25px;
  display: block;
  text-align: center;
}
.block .card:hover{
  background-color: var(--primary-color);
  color: white !important;
}
/*-----Dev ------**/
.service-dev{
  width: 195px;
  height: 195px;
  background: url("../images//services/development-pink.png") no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.service-dev:hover{
  background: url("../images//services/development-white.png");
  width: 195px;
  height: 195px;
  background-position: 50% 50%;
  background-size: cover;
}
/*-----Design ------**/
.service-design{
  width: 195px;
  height: 195px;
  background: url("../images//services/ui-ux-pink.png") no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.service-design:hover{
  background: url("../images//services/ui-ux-white.png");
  width: 195px;
  height: 195px;
  background-position: 50% 50%;
  background-size: cover;
}
/*-----SEO ------**/
.service-seo{
  width: 195px;
  height: 195px;
  background: url("../images//services/seo-pink.png") no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.service-seo:hover{
  background: url("../images//services/seo-white.png");
  width: 195px;
  height: 195px;
  background-position: 50% 50%;
  background-size: cover;
}

/**skills**/
.skills {
  margin : 2em 0 2em 0;
}

.skills h1,
.skills h5 {
  text-align: center;
}
.skills h1 {
  font-weight: 600;
  color: var(--secondary-color);
}
.skills h5 {
	font-weight: 600;
	color: var(--primary-color);
	position: relative;
}
.skills h5::before{
	content: "";
	display: block;
	width: 100px;
	height: 5px;
	background: var(--primary-color);
	border-radius: 50px;
	left: 37%;
	top: 50%;
	position: absolute;
}
.skills h5::after{
	content: "";
	display: block;
	width: 100px;
	height: 5px;
	background: var(--primary-color);
	border-radius: 50px;
	right: 37%;
	top: 50%;
	position: absolute;
}
.skills h4{
  margin-top: 2em;
  margin-bottom: 1em;
}
/**Fun Facts**/
.fun-fact {
  margin : 2em 0 2em 0;
}

.fun-fact h1 {
  text-align: center;
}
.fun-fact h1 {
  font-weight: 600;
  color: var(--secondary-color);
}
.parallax{
  margin-top: 2em;
  background-color: #FFF6FA;
  height: 200px;
  text-align: center;
}

.parallax h6{
  font-size: 26px;
  font-weight: 500;
  color: var(--primary-color);
  position: relative;
  top: 40%;
}
.parallax span{
  font-size: 36px;
  font-weight: 700;
  color: var(--primary-color);
  position: relative;
  top: 30%;
}