@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
:root {
  --primary-color: #d6225a;
  --secondary-color: #660c42;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}
button {
  margin-right: 2em;
  border-radius: 5px;
  padding: 5px 15px;
  min-width: 64px;
  vertical-align: middle;
  justify-content: center;
  font-size: 20px;
  transition: all 0.3s;
}
.centered{
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}
.text-pink{
  color: var(--primary-color) !important;
}
.text-purple{
  color: var(--secondary-color) !important;
}
.button-primary {
  text-decoration: none;
  background-color: var(--primary-color);
  border: 1px solid #d6225a;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
}
.button-primary:hover {
  background-color: white;
  color: var(--primary-color);

}
.button-primary-outlined {
  text-decoration: none;
  background-color: white;
  border: 1px solid #d6225a;
  color: var(--primary-color);
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
}
.button-primary-outlined:hover {
  background-color: var(--primary-color);
  border: 1px solid #d6225a;
  color: white;
  
}
.button-secondary {
  background-color: var(--secondary-color);
  border: 1px solid #660c42;
  color: white;
}
.button-secondary:hover {
  background-color: white;
  color: var(--secondary-color);
}
.send-btn{
  font-size: 15px;
  width: 30%;
}
.navbar-collapse {
  flex-direction: row-reverse !important;
}
.nav-link {
  font-size: 23px;
  margin-right: 10px;
  color: black !important;
}
.hero-content {
  background-image: url("../images/oumaima.png");
  position: relative;
  height: 90vh;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
}
.hero-content h1 {
  padding-top: 4em;
  padding-left: 2em;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
}
.hero-content span {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 300;
}
.button-group {
  margin-left: 6em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.social-links {
  margin-top: 3em;
  margin-left: 2em;
  font-size: 25px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.social-links li {
  padding: 10px;
}
.social-links a {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  padding: 2px 10px 6px 10px;
}
.social-links a:hover {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.tabs {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  padding: 50px;
  padding-bottom: 80px;
  width: 90%;
  min-height: 250px;
  /*box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);*/
  border-radius: 5px;
  min-width: 240px;
  margin: 2em 0em;
}
.tabs input[name="tab-control"] {
  display: none;
}
.tabs .content section h2,
.tabs ul li label {
  font-weight: bold;
  font-size: 18px;
  color: var(--primary-color);
}
.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.tabs ul li {
  box-sizing: border-box;
  flex: 1;
  width: 25%;
  padding: 0 10px;
  text-align: center;
}
.tabs ul li label {
  transition: all 0.3s ease-in-out;
  color: var(--secondary-color);
  padding: 5px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  background-color: #fcf5e5;
  border: 1px solid #d6225a;
}
.tabs ul li label br {
  display: none;
}
.tabs ul li label svg {
  fill: var(--secondary-color);
  height: 1.2em;
  vertical-align: bottom;
  margin-right: 0.2em;
  transition: all 0.2s ease-in-out;
}
.tabs ul li label:hover,
.tabs ul li label:focus,
.tabs ul li label:active {
  outline: 0;
  color: var(--primary-color);
}
.tabs ul li label:hover svg,
.tabs ul li label:focus svg,
.tabs ul li label:active svg {
  fill: var(--primary-color);
}
.tabs .slider {
  position: relative;
  width: 25%;
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}

.tabs .content {
  margin-top: 30px;
  min-height: 500px;
}
.tabs .content section {
  display: none;
  animation-name: content;
  animation-direction: normal;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  line-height: 1.4;
}
.tabs .content section h2 {
  color: var(--primary-color);
  display: none;
}

.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ ul
  > li:nth-child(1)
  > label {
  cursor: default;
  color: var(--primary-color);
}
.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ ul
  > li:nth-child(1)
  > label
  svg {
  fill: var(--primary-color);
}

.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
  transform: translateX(0%);
}
.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ .content
  > section:nth-child(1) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ ul
  > li:nth-child(2)
  > label {
  cursor: default;
  color: var(--primary-color);
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ ul
  > li:nth-child(2)
  > label
  svg {
  fill: var(--primary-color);
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
  transform: translateX(100%);
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ .content
  > section:nth-child(2) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ ul
  > li:nth-child(3)
  > label {
  cursor: default;
  color: var(--primary-color);
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ ul
  > li:nth-child(3)
  > label
  svg {
  fill: var(--primary-color);
}

.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
  transform: translateX(200%);
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ .content
  > section:nth-child(3) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ ul
  > li:nth-child(4)
  > label {
  cursor: default;
  color: var(--primary-color);
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ ul
  > li:nth-child(4)
  > label
  svg {
  fill: var(--primary-color);
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
  transform: translateX(300%);
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ .content
  > section:nth-child(4) {
  display: block;
}
@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.who-iam p {
  font-size: 25px;
  font-weight: 500;
}
.who-iam p span {
  color: var(--primary-color);
  font-weight: 700;
}
.who-iam h3 {
  margin-left: 110px;
  color: var(--primary-color);
  margin-bottom: 50px;
  margin-top: 50px;
}
.who-iam h3::before {
  content: "";
  position: relative;
  display: block;
  background-color: var(--primary-color);
  border: 4px solid #d6225a;
  border-radius: 50px;
  width: 100px;
  top: 23px;
  left: -107px;
}
/*-------Work History--------*/
.work-history h3,
.certification h3 {
  margin-left: 110px;
  color: var(--primary-color);
  margin-bottom: 50px;
  margin-top: 50px;
}
.work-history h3::before,
.certification h3::before {
  content: "";
  position: relative;
  display: block;
  background-color: var(--primary-color);
  border: 4px solid #d6225a;
  border-radius: 50px;
  width: 100px;
  top: 23px;
  left: -170px;
}
.timeline {
  display: flex;
  flex-direction: row;
}
.timeline-content {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  height: 210px;
  background-color: #fff6fa;
  padding: 15px 15px;
  border-radius: 10px;
}
.timeline-content h4 {
  color: var(--secondary-color);
  font-weight: 500;
}
.timeline-content span {
  color: var(--primary-color);
  font-weight: 500;
  padding-bottom: 10px;
}
.timeline-content::after {
  display: block;
  position: fixed;
  content: "";
  height: 7px;
  width: 650px;
  min-width: 100px;
  background-color: var(--secondary-color);
  margin-top: 100px;
}
.timeline-container {
  padding: 10px 40px;
  background-color: inherit;
  width: 500px;
  position: relative;
}
.timeline-container::after {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: var(--primary-color);
  border-radius: 50%;
  z-index: 1;
  left: 216px;
  top: 286px;
}

.timeline-top::before {
  content: " ";
  height: 0;
  position: absolute;
  margin-top: 210px;
  width: 0;
  z-index: 1;
  right: 245px;
  border: medium solid var(--primary-color);
  border-width: 30px 30px 30px 30px;
  border-color: var(--primary-color) transparent transparent transparent;
}

/**Services**/
.services-section {
  margin : 2em 0 6em 0;
}

.services-section h1,
.services-section h5 {
  text-align: center;
}
.services-section h1 {
  font-weight: 600;
  color: var(--secondary-color);
}
.services-section h5 {
  margin-left: auto;
  margin-right: auto;
	font-weight: 600;
	color: var(--primary-color);
	position: relative;
  max-width: 160px;
}
.services-section h5::before{
  content: "";
  position: relative;
  display: block;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 50px;
  width: 100px;
  top: 17px;
  left: -88px;
}
.services-section h5::after{
	content: "";
  position: relative;
  display: block;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 50px;
  width: 100px;
  top: -12px;
  right: -149px;
}
.service .block{
  margin-right: 1em;
}
.block .card{
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.34);
  border-radius: 15px;
  padding: 25px;
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 20px;
  margin-top: 25px;
  display: block;
  text-align: center;
}
.block .card:hover{
  background-color: var(--primary-color);
  color: white !important;
}
/*-----Dev ------**/
.service-dev{
  width: 195px;
  height: 195px;
  background: url("../images//services/development-pink.png") no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.service-dev:hover{
  background: url("../images//services/development-white.png");
  width: 195px;
  height: 195px;
  background-position: 50% 50%;
  background-size: cover;
}
/*-----Design ------**/
.service-design{
  width: 195px;
  height: 195px;
  background: url("../images//services/ui-ux-pink.png") no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.service-design:hover{
  background: url("../images//services/ui-ux-white.png");
  width: 195px;
  height: 195px;
  background-position: 50% 50%;
  background-size: cover;
}
/*-----SEO ------**/
.service-seo{
  width: 195px;
  height: 195px;
  background: url("../images//services/seo-pink.png") no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.service-seo:hover{
  background: url("../images//services/seo-white.png");
  width: 195px;
  height: 195px;
  background-position: 50% 50%;
  background-size: cover;
}

/**skills**/
.skills {
  margin : 2em 0 2em 0;
}

.skills h1,
.skills h5 {
  text-align: center;
}
.skills h1 {
  font-weight: 600;
  color: var(--secondary-color);
}
.skills h5 {
	margin-left: auto;
  margin-right: auto;
	font-weight: 600;
	color: var(--primary-color);
	position: relative;
  max-width: 185px;
}
.skills h5::before{
	content: "";
  position: relative;
  display: block;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 50px;
  width: 100px;
  top: 17px;
  left: -107px;
}
.skills h5::after{
	content: "";
  position: relative;
  display: block;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 50px;
  width: 100px;
  top: -12px;
  right: -193px;
}
.skills h4{
  margin-top: 2em;
  margin-bottom: 1em;
}
/**Fun Facts**/
.fun-fact {
  margin : 2em 0 2em 0;
}

.fun-fact h1 {
  text-align: center;
}
.fun-fact h1 {
  font-weight: 600;
  color: var(--secondary-color);
}
.parallax{
  margin-top: 2em;
  background-color: #FFF6FA;
  height: 200px;
  text-align: center;
}

.parallax h6{
  font-size: 26px;
  font-weight: 500;
  color: var(--primary-color);
  position: relative;
  top: 40%;
}
.parallax span{
  font-size: 36px;
  font-weight: 700;
  color: var(--primary-color);
  position: relative;
  top: 15%;
}
.parallax-block{
  border-right: 2px solid var(--primary-color);
} 
.parallax-block:last-child{
  border-right: none;
}
/**Featured Work**/
.featured-work {
  margin-top : 5em;
  margin-bottom: 2em;
}
.featured-work h1 {
  text-align: center;
}
.featured-work h1 {
  font-weight: 600;
  color: var(--secondary-color);
}
.featured-work h6 , .featured-work h6 a{
  color: var(--primary-color);
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
}
.client-work{
  margin-bottom: 2em;
}

/***Parallex***/
.parallex2{
  background-image: url('../images/parallex.jpg');
  height: 400px;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}
.overlay {
  height: 400px;
  width: 100%;
  position: absolute;
  background: linear-gradient(rgba(214, 34, 90, 0.4), rgba(214, 34, 90, 0.4));
}
.overlay {
  color: white;
  text-align: right;
  padding: 8em 6em;
}
.overlay h5{
  position: relative;
  max-width: 180px;
  margin-left: auto;
}
.overlay h5::before{
  content: "";
  position: relative;
  display: block;
	background: white;
  width: 100px;
  height: 5px;
  border-radius: 50px;
	right: 20px;
	top: 13px;
}
/* .overlay a{
  margin-right: 1em;
  margin-left: 1em;
} */
.parallex2-button-group{
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.parallex2-button-group a:last-child{
  margin-left: 2em;
}
/***Satisfied Clients***/
.clients{
  margin: 2em 0 2em 0;
}
.clients h1{
  color: var(--secondary-color);
  text-align: center;
  font-weight: 600;
}
.clients h5{
  color: var(--primary-color);
  text-align: center;
  font-weight: 500;
}
/***Footer***/
.footer{
  height: fit-content;
  background-color: var(--secondary-color);
  padding: 2em 1em;
  color: white;
  font-size: 17px;
}
.footer li{
  list-style: none;
}
.footer li a{
  color: white;
}
.footer h5{
  font-size: 20px;
  font-weight: 500;
}
.footer h5::after{
  content: '';
  display: block;
  position: relative;
  height: 4px;
  width: 80px;
  background-color: var(--primary-color);
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* Page */
.banner{
  position: relative;
  background-image: url('../images/Group\ 59.png');
  background-position: 50% 50%;
  background-size: cover;
  height: 300px;
  text-align: center;
  vertical-align: middle;
}
.banner-content{
  padding-top: 6em;
}
.banner-content h1{
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 60px;
}
.banner-content .breadcrumb , .banner-content .breadcrumb .active{
  color: var(--primary-color);
  font-size: 20px;
}
.breadcrumb ol{
  justify-content: center !important;
}
.breadcrumb ol li a{
  text-decoration: none;
  color: var(--primary-color);
}
/* Contact Page */
.contact-form label{
  font-weight: 500;
}
.contact-form input , .contact-form textarea{
  background-color: #FCF5E5;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}
.contact-form input:focus ,.contact-form textarea:focus{
  box-shadow: 0 0 0.25rem rgb(13 110 253 / 25%);
  border-color: #660c42;
  color: black;
} 
.social-media{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.social-media li{
  padding-right: 10px;
}
.social-media li a{
  font-size: 20px !important;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 50%;
  padding: 2px 7px 6px 7px;
}

/* Services Page */
.services-page{
  margin : 2em 0 6em 0;
  color: white;
}
.services-page h1,
.services-page h5 {
  text-align: center;
}
.services-page h1{
  font-weight: 600;
  color: var(--secondary-color);
}
.services-page h5 {
  margin-left: auto;
  margin-right: auto;
	font-weight: 600;
	color: var(--primary-color);
	position: relative;
  max-width: 180px;
}

.services-page h5::before{
  content: "";
  position: relative;
  display: block;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 50px;
  width: 100px;
  top: 17px;
  left: -100px;
}
.services-page h5::after{
	content: "";
  position: relative;
  display: block;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 50px;
  width: 100px;
  top: -12px;
  right: -180px;
}
.services-page .service-block{
  background-color: var(--secondary-color);
  padding: 15px;
  height: 300px;
  border-radius: 10px;
}
.services-page .service-image{
  width: 200px;
}
.services-page .service-block p{
  font-size: 30px;
}
.services-page .service-block span{
  font-size: 25px;
}
.service-leftcol::after{
  content: '}';
  position: relative;
  display:flex;
  flex-direction: row-reverse;
  font-size: 160px;
  top: -1.7em;
}
/* Media Queries */
 @media only screen and (max-width : 1200px) {
  .service-leftcol::after{
    font-size: 120px;
    top: -2em;
    left: 10px;
  }
  .services-page .service-block p{
    font-size: 25px;
  }
} 

@media (max-width: 1000px) {
  .tabs ul li label {
    white-space: initial;
  }
  .tabs ul li label br {
    display: initial;
  }
  .tabs ul li label svg {
    height: 1.5em;
  }
}
@media only screen and (max-width:992px) {
  .hero-content{
    background-position: 80% 50%;
  }
  .hero-content h1{
    color: white;
    text-align: center;
    padding-left: 0em;
  }
  .hero-content span{
    font-size: 20px;
  }
  .button-group{
    justify-content: center;
    margin-left: 0em;
  }
  .social-links{
    justify-content: center;
    margin-left: -2em;
  }
  .services-page .service-image{
    width: 150px;
  }
   .services-page .service-leftcol::after{
    font-size: 100px;
    left: 15px;
  } 

}
 @media only screen and (max-width:768px) {
  .services-page .service-block{
    height: 515px;
  }
  .service-leftcol::after{
    content: '}';
    position: relative;
    display:flex;
    flex-direction: row-reverse;
    font-size: 160px;
    margin-top: -88px;
    transform: rotateZ(90deg);
  }
  .services-page .service-block p{
    margin-top: -20px;
  }
  
} 
@media only screen and (max-width:688px) {
  .hero-content{
    background-position: 100% 50%;
  }
  .hero-content h1{
    text-align: center;
    color: white;
    font-size: 40px;
  }
  .button-group{
    margin-left: 0em;
  }
  .social-links{
   margin-left: -2em;
  }
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(1):checked
    ~ ul
    > li:nth-child(1)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
  .tabs
    input[name="tab-control"]:nth-of-type(2):checked
    ~ ul
    > li:nth-child(2)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
  .tabs
    input[name="tab-control"]:nth-of-type(3):checked
    ~ ul
    > li:nth-child(3)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
  .tabs
    input[name="tab-control"]:nth-of-type(4):checked
    ~ ul
    > li:nth-child(4)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
  .tabs ul li label {
    padding: 5px;
    border-radius: 5px;
  }
  .tabs ul li label span {
    display: none;
  }
  .tabs .slider {
    display: none;
  }
  .tabs .content {
    margin-top: 20px;
  }
  .tabs .content section h2 {
    display: block;
  }
}
@media only screen and (max-width:580px) {
  .parallax{
    height: 700px;
    width: 100vw;
  }
  .parallax-block{
    border-right: none;
    border-bottom: 2px solid var(--primary-color);
  }
}
@media only screen and (max-width:530px) {
  .hero-content{
    background-position: 72% 50%;
  }
   .services-page .service-block{
    height: 505px;
  }
  .service-leftcol::after{
    margin-top: -75px;
  } 
}
 @media only screen and (max-width:500px){
  .services-page .service-block{
    height: 505px;
  }
  .service-leftcol::after{
    margin-top: -60px;
  }
} 
@media only screen and (max-width:478px){
  .services-page .service-block{
    height: 505px;
  }
  .service-leftcol::after{
    margin-top: -48px;
  }
} 
@media only screen and (max-width:450px){
  .services-page .service-block{
    height: 505px;
  }
  .services-page .service-block p{
    margin-top: -55px;
  }
  .service-leftcol::after{
    margin-top: -30px;
  }
} 

@media only screen and (max-width:410px){
  .services-page .service-block{
    height: 505px;
  }
  .services-page .service-block p{
    margin-top: -55px;
  }
  .service-leftcol::after{
    margin-top: -30px;
  }
} 
@media only screen and (max-width:390px){
  .services-page .service-block{
    height: 600px ;
  }
  .service-leftcol::after{
    margin-top: 10px;
  }
  .services-page .service-block p{
    margin-top: -100px;
  }
} 
 @media only screen and (max-width:350px){
  .services-page .service-block{
    height: 690px;
  }
  .service-leftcol::after{
    margin-top: 30px ;
  }
  .services-page .service-block p{
    margin-top: -125px ;
  }
}

@media only screen and (max-width:300px){
  .services-page .service-block{
    height: 690px;
  }
  .service-leftcol::after{
    margin-top: 45px ;
  }
  .services-page .service-block p{
    margin-top: -125px ;
  }
}
